[core]
	excludesfile = /Users/chiehayashida/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
	commentChar = ";"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = chie8842
	email = chie8842@gmail.com
[commit]
	template = /Users/chiehayashida/.stCommitMsg
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
graph = log --graph --date=iso --decorate=short --pretty=format:'%Cgreen%h %Cred%cd %Cblue%cn %Cgreen%d %Creset%s'
lstats = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
diffw = diff --word-diff
diffn = diff --name-only
set-local-user = "!f(){ git config --local user.name \"${1}\" && git config --local user.email \"${2}\"; };f"
change-commit-author = "!f(){ git commit --amend --author=\"${1} <${2}>\";};f"
rao = remote add origin
rau = remote add upstream
fu = fetch upstream
mum = merge upstream/master
cm = commit -m
ca = commit --amend
rH = reset HEAD
rhH = reset --hard HEAD
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
